# Setup and get data

In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import datasets
import math
dir(sklearn.datasets)[15:20] # print all 
iris = sklearn.datasets.load_iris()
# convert to pandas df
iris = pd.DataFrame(np.concatenate((iris.data, np.array([iris.target]).T), axis=1), 
                    columns=iris.feature_names + ['target'])
# clean col names
iris.columns = [c.replace(' ', '_') for c in iris.columns]
iris.rename(columns={'sepal_length_(cm)': 'sepal_length', 
                     'sepal_width_(cm)': 'sepal_width', 
                     'petal_length_(cm)':  'petal_length',
                     'petal_width_(cm)': 'petal_width'}, inplace=True)

In [2]:
iris[0:3]

   sepal_length  sepal_width  petal_length  petal_width  target
0           5.1          3.5           1.4          0.2     0.0
1           4.9          3.0           1.4          0.2     0.0
2           4.7          3.2           1.3          0.2     0.0

# Lists

Extend makes same list, append makes sub-list

In [21]:
primes = [2,3,5]
teen_primes=[11,13]
primes.extend(teen_primes) # extend keeps it in same overall list
print(primes)

[2, 3, 5, 11, 13]

In [22]:
primes.append(teen_primes) # append adds appended list as sub-list
print(primes)

[2, 3, 5, 11, 13, [11, 13]]

In [24]:
empty_list=[] # create an empty list
print(empty_list)

[]

List position of a value

In [39]:
primes.index(3)

1


### Subsetting lists

Named slices:

In [4]:
named_slice = slice(5, None)  # equivalent to [5:]

In [5]:
iris[named_slice]

     sepal_length  sepal_width  petal_length  petal_width  target
5             5.4          3.9           1.7          0.4     0.0
6             4.6          3.4           1.4          0.3     0.0
7             5.0          3.4           1.5          0.2     0.0
8             4.4          2.9           1.4          0.2     0.0
9             4.9          3.1           1.5          0.1     0.0
..            ...          ...           ...          ...     ...
145           6.7          3.0           5.2          2.3     2.0
146           6.3          2.5           5.0          1.9     2.0
147           6.5          3.0           5.2          2.0     2.0
148           6.2          3.4           5.4          2.3     2.0
149           5.9          3.0           5.1          1.8     2.0

[145 rows x 5 columns]

# numpy uses arrays, which are better than lists
<br>can't do calculations on lists
<br>arrays contain values of a single type
<br>Lists are flexibly typed (can do [True, "2", 3.0, 4]). Flexible but slow. If ur elements are all same type, faster to do a fixed-type array
<br>https://jakevdp.github.io/PythonDataScienceHandbook/02.01-understanding-data-types.html

[numpy cheatsheet](https://s3.amazonaws.com/dq-blog-files/numpy-cheat-sheet.pdf)

https://jakevdp.github.io/PythonDataScienceHandbook/02.02-the-basics-of-numpy-arrays.html

# pandas
https://jakevdp.github.io/PythonDataScienceHandbook/03.01-introducing-pandas-objects.html
https://learn.datacamp.com/courses/data-manipulation-with-pandas 

Built on top of numpy
<br>columns are Series and dataframes are collections of Series
<br>Dataframes can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary.

NumPy arrays use integer indices; pandas Series allows labels!
<br>Numpy: titanic[2]
<br>Pandas: titanic.Age or titanic.['Age']

<br>This Index object is an interesting structure in itself, and it can be thought of either as an immutable array or as an ordered set

## Subsetting in pandas